<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itshixun.dao.GoodsDao">
	<insert id="insertGoods" parameterType="Goods">
	insert into t_goods(goodName,goodPhoto,goodInfo,goodPrice,tradeType,userId,classId)
	 values(#{goodName},#{goodPhoto},#{goodInfo},#{goodPrice},#{tradeType},#{userId},#{classId})
	 
	
	</insert>
	
	
	
	<select id="showGoodsAll" resultType="Goods">
	select * from t_goods	
	</select> 
	
	<delete id="deleteGoodsById" parameterType="int">
	delete from t_goods where goodId=#{goodId}
	</delete>
	
	<select id="selectGoodsById" parameterType="int" resultType="Goods">
	select * from t_goods where goodId=#{goodId}
	</select>
	
	<update id="updateGoodsById" parameterType="Goods">
	update t_goods set goodName =#{goodName},goodInfo=#{goodInfo},goodPrice=#{goodPrice},tradeType=#{tradeType}
	 where goodId=#{goodId}
	</update>
	
	<resultMap type="Goods" id="resultMap">
		<id column="goodId" property="goodId"/>
		<result column="goodName" property="goodName"/>
		<result column="goodPhoto" property="goodPhoto"/>
		<result column="goodInfo" property="goodInfo"/>
		<result column="goodPrice" property="goodPrice"/>
		<result column="tradeType" property="tradeType"/>
		<result column="pubDate" property="pubDate"/>
		<result column="goodPraise" property="goodPraise"/>
		
		<association property="user" javaType="User">
			<id column="userId" property="userId"/>
			<result column="userName" property="userName"/>
			<result column="userPwd" property="userPwd"/>
			<result column="userAddress" property="userAddress"/>
			<result column="userEmail" property="userEmail"/>
			<result column="userPhoto" property="userPhoto"/>
			<result column="userQQ" property="userQQ"/>
			<result column="userIntegral" property="userIntegral"/>
			<result column="userPhone" property="userPhone"/>
			<result column="userAccount" property="userAccount"/>
		</association>
		
		<association property="goodsClass" javaType="GoodsClass">
			<id column="classId" property="classId"/>
			<result column="className" property="className"/>
		</association>
	</resultMap>
</mapper>